name: Lint

on:
  pull_request:
  push:
    branches-ignore: [main, master]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "--version"

      - name: Run lint
        run: make lint
